{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-8">
        Trying to search: <blockquote class="blockquote">{{ term }}</blockquote>
    </div>
</div>
{% endblock %}
